@import url('https://fonts.googleapis.com/css?family=Lato|Noto+Sans|Open+Sans|Roboto|Roboto+Condensed');


*{
    box-sizing: border-box;
}

body{
    

    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    font-style: regular;
    padding: 1em;
}

.container{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

ul{
    list-style: none;
    padding: 0;
    
}

.brand{
    text-align: center;
    
}

.wrapper{
    box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
}

.wrapper > *{
    padding: 1em;
}

.company-info{
    background: #c9e6ff;
}
.company-info h3, .company-info ul{
    text-align: center;
    margin: 0 0 1rm 0;
}

.uploadForm{
    background: white;

}

/* form style */

.uploadForm form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.uploadForm form label{
    display: block;
    
}

.uploadForm form #name{
 
    width: 100%;
}

.uploadForm form #level, #publicity{
    display:inline-block;
    width: 49.4%;
    height: 65%;
}

.uploadForm form p{
    margin: 0;
    
}

.uploadForm form .full{
    grid-column: 1/3;
}

.uploadForm form button, .uploadForm form input, .uploadForm form textarea{
    width: 100%;
    padding: 1em;
    border:  1px solid #c9e6ff;
}

.uploadForm form button{
    background: #c9e6ff;
    border: 0;
    text-transform: uppercase;
}

.uploadForm form button:hover, .uploadForm form button:focus{
    background: #92bde7;
    color: #fff;
    outline: 0;
    transition: background-color 2s ease-out;
}


@media (max-width: 856px) {
.uploadForm form #level, #publicity{
   width: 45%;
        
}
}
